#root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f2f2f2;
}

.app {
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
}

.sudoku-grid {
  display: grid;
  grid-template-columns: repeat(9, 40px);
  grid-template-rows: repeat(9, 40px);
  margin: 0 auto;
  width: fit-content;
  border: 2px solid #000000;
}

.cell {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 18px;
  border: none;
  box-sizing: border-box;
  border: 1px solid #aaa;
}


.cell:nth-child(9n + 3),
.cell:nth-child(9n + 6) {
  border-right: 2px solid black;
}

.cell:nth-child(n + 19):nth-child(-n + 27),
.cell:nth-child(n + 46):nth-child(-n + 54),
.cell:nth-child(n + 73):nth-child(-n + 81) {
  border-bottom: 2px solid black;
}

.cell:nth-child(9n + 1) {
  border-left: 2px solid black;
}

.cell:nth-child(-n + 9) {
  border-top: 2px solid black;
}